@charset "UTF-8";
/* CSS Document */

@media screen and (max-width:767px) {
    #nav-drawer {
        display:block!important;
    }
    /* ヘッダーメニュー */
    .sp_nav,
    .sp_nav a {
        color: #dcdcdc;
    }
    .sp_nav,
    .nav_header  {
        font-size: 16px;
        background: #313131;
    }
    /*メニューの中身*/
    .sp_nav {
        overflow: auto;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 9999;
        width: 100%;
        height: 100%;
        background: #313131;
        transition: .3s ease-in-out;
    }
    /* メニューが表示されている時 */
    body.sp_menu_on {
        overflow: hidden;
    }
    body.sp_menu_on .sp_nav {
        left: 0;
    }
    body.sp_menu_on .footer_link_area {
        display: none;
    }
    /* メニュー内のheader */
    .nav_header {
        padding: 12px 20px;
    }
    .menu_btn_close {
        display: block;
        width: 25px;
        height: 25px;
        position: relative;
        margin: 0;
    }
    .menu_btn_close::before,
    .menu_btn_close::after {
        content: "";
        display: block;
        width: 25px;
        height: 3px;
        background: #fff;
        transform: rotate(45deg);
        transform-origin: 0% 50%;
        position: absolute;
        left: 14%;
    }
    .menu_btn_close::after {
        transform: rotate(-45deg);
        transform-origin:100% 50%;
        left: auto;
        right: 14%;
    }
    /* ハンバーガーメニューのボタン */
    .menu_btn_open {
        display: inline-block;
        vertical-align: middle;
        width: 25px;
        height: 20px;
        padding: 7px 0;
        margin-left: 10px;
    }
    .menu_btn_open:hover{
        opacity: 0.7;
    }
    .menu_btn_open span,
    .menu_btn_open span:before,
    .menu_btn_open span:after {
        position: absolute;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background: #fff;
        display: block;
        content: '';
        cursor: pointer;
    }
    .menu_btn_open span:before {
        bottom: -8px;
    }
    .menu_btn_open span:after {
        bottom: -16px;
    }
    /* お問い合わせ */
    .nav_contact {
        display: flex;
        justify-content: space-between;
        background: #1e1e1e;
        padding: 12px 20px;
        margin: 0;
    }
    .nav_contact .freecall{
        -ms-flex-item-align: center;
        align-self: center;
        margin-right: 16px;
    }
    .nav_contact .freecall .tel{
        margin-bottom: 6px;
    }
    .nav_contact .freecall .tel img,
    .nav_contact .freecall .tel a{
        display: inline-block;
    }
    .nav_contact .freecall .tel img{
        width: 32px;
        margin-right: 4px;
    }
    .nav_contact .freecall .tel a {
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        line-height: 26px;
    }
    .nav_contact .freecall p {
        font-size: 12px;
        line-height: 1em;
        margin-bottom: 0;
    }
    .nav_contact .contact_btn{
        font-size: 14px;
        line-height: 1em;
        background: #005bac;
        color: #fff;
        padding: 18px 16px;
        border-radius: 5px;
    }
    /* 言語リスト */
    .language_list {
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        margin-top: 10px;
    }
    .language_list > li {
        margin-bottom: 10px;
    }
    .child_on > ul.child_menu {
        display: grid;
        background: none;
        padding: 0;
    }
    /* ナビのメニュー */
    .nav_menu > div {
        padding: 12px 20px;
        border-bottom: 2px solid #1e1e1e;
        display: grid;
        gap: 12px;
    }
    .nav_menu > div:last-child {
        border: none;
    }
    .nav_menu p {
        margin: 0;
    }
    .nav_menu > div > .menu_title,
    .nav_menu > div > .has_child > .menu_title {
        font-weight: 600;
    }
    .nav_menu > div > .menu_content {
        display: grid;
        gap: 12px;
    }
    .nav_menu > div > .menu_content > p {
        border-bottom: 2px solid #363636;
        padding: 0 12px 12px;
    }
    .nav_menu > div > .menu_content > p:last-child {
        border: none;
        padding-bottom: 0;
    }
    .nav_menu > div > .menu_content > p:first-child,
    .nav_menu > div > .menu_content > div:first-child {
        border-top: 2px solid #363636;
        padding-top: 12px;
    }

    /* アイコン付きメニュー */
    .menu_content > div {
        border-bottom: 2px solid #363636;
        padding: 0 0 12px;
    }
    .menu_content > div > .has_icon {
        display: flex;
        position: relative;
        padding: 0 20px;
    }
     .menu_content > div > .has_icon > img {
        width: 24px;
        height: 24px;
        margin-right: 10px;
    }
    .menu_content > div:last-child {
        border: none;
        padding-bottom: 0;
    }
    /* メニュー内の子メニュー */
    .child_menu {
        display: none;
        padding: 12px 20px;
        background: #393939;
    }
    div.child_content {
        display: grid;
        gap: 12px;
        font-size: 14px;
        border-left: 1px solid #505050;
        padding-left: 8px;
    }
    /* 小メニューが表示されている場合 */
    .child_on > .child_menu {
        display: grid;
        gap: 12px;
    }
    div.child_on > .has_icon {
        border-bottom: none;
        padding-bottom: 12px;
    }
    /* メニュー内のオプション */
    div.option_content {
        background: #313131;
        padding: 12px 20px;
        display: grid;
        gap: 12px;
    }
    div.option_content > .option_title {
        font-size: 16px;
        padding-bottom: 8px;
        border-bottom: 1px solid #505050;
    }
    /* nav footer */
    div.nav_footer {
        border: none;
    }
    .close_btn_footer > p {
        margin: 0 auto;
    }
    /* プラスボタン・マイナスボタン */
    .has_child {
        position: relative;
    }
    .has_child > p::before,
    .has_child > p::after {
        position: absolute;
        top: 12px;
        right: 20px;
        content: '';
        display: inline-block;
        width: 13px;
        height: 13px;
        border-top: 2px solid #dcdcdc;
        transform: translateX(-50%);
    }
    .has_child > p::after {
        top: 6px;
        right: 33px;
        transform: rotate(90deg);
    }
    .child_on > p::after {
        display: none;
    }
    .hd_menu > .has_child > p {
        position: relative;
        display: inline;
        padding-right: 20px;
    }
    .hd_menu > .has_child > p::before,
    .hd_menu > .has_child > p::after {
        width: 10px;
        height: 10px;
    }
    .hd_menu > .has_child > p::before {
        top: 8px;
        right: 0;
    }
    .hd_menu > .has_child > p::after {
        top: 3px;
        right: 10px;
    }

    /* 会員ページ用 */
    .customer_menu div.child_on > .menu_title {
        border-bottom: none;
        padding-bottom: 12px;
    }
    .customer_menu div.child_menu {
        padding: 12px 20px;
        background: #292929;
    }
    .customer_menu > div.main_menu {
        padding: 0;
        border-bottom: 2px solid #2c2c2c;
    }
    .customer_menu > div.main_menu .menu_title{
        padding: 12px 20px;
    }
    .customer_menu .main_menu .has_child > p::before {
        top: 24px;
    }
    .customer_menu .main_menu .has_child > p::after {
        top: 18px;
    }
    /* 子メニュー */
    .customer_menu .child_menu > .child_title {
        padding-top: 12px;
        border-top: 2px solid #2d2d2d;
    }
    .customer_menu .child_menu > .child_title:first-child {
        padding-top: 0;
        border: none;
    }
    .customer_menu .child_menu .child_content {
        padding-left: 20px;
        border: none;
    }
    /* 孫メニュー */
    .customer_menu .grand_child_content {
        border-left: 1px solid #505050;
        margin-top: 12px;
        padding-left: 12px;
        display: grid;
        gap: 12px;
    }

    /* font_sizeが14px */
    .hd_menu,
    .hd_menu p,
    .child_content > p,
    .option_content > p,
    .nav_footer,
    .customer_menu .child_content > div > p {
        font-size: 14px;
    }
    /* テキストカラーがグレー */
    .language_list > li > .current,
    .nav_menu p.option_title > span,
    .child_title > span {
        color: #757575;
    }
}



